body {
  margin: 0;
}

.serverIdentificator{
  text-align: center;
}

.resultFrame {
  display: grid;
  text-align: center;

  video {
    grid-area: 1 / 1 / 2 / 2;
  }
  canvas {
    grid-area: 1 / 1 / 2 / 2;
  }
}